* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: white;
  font-family: 'Marcellus', serif;
  font-size: 40px;
  letter-spacing: .05em;
  text-align: center;
  padding: 10px;
  background-color: grey;
  position: fixed;
  width: 100%;
  top: 0;
}

ul li {
  left: 60px;
  top: 20px;
  position: relative;
  display: inline;
  padding: 20px;
  font-family: 'Marcellus', serif;
  font-size: 20px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

.titles {
  font-family: 'Marcellus', serif;
  color: white;
  font-size: 20px;
  padding: 15px;
  float: right;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: grey;
}

section {
  padding: 10px 10px 0px 10px;
  max-width: 300px;
  display: block;
  margin: 1px auto;
}

.scream {
  margin-top: 50px;
}

.scream:hover {
  width: 500px;
}

.ghostface {
  position: absolute;
  top: 0;
  animation-name: run;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


@keyframes run {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(300px);
    }
}
